@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=DM+Sans:opsz,wght@9..40,300&family=Heebo:wght@500&family=Lato&family=Onest:wght@500&family=Quicksand:wght@500&family=Roboto&family=Zen+Dots&display=swap");

/** Made By FauzanAPP 
  * Project ini dibuat karena ada tugas dari sekolahan saya 
  * @copyright Fauzan Adyatma Pangestu 
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html::-webkit-scrollbar {
    appearance: none;
}

::selection {
    background-color: red;
    color: white;
}

:root {
    --background-color: #141414;
    --text-color: #f7f7f7;
    --header-color: #141414;
    --green-text: #f60000;
    --green-background: rgba(243, 0, 0, 0.347);
    --green-color: #ed0000;
}

.light-mode {
    --background-color: #f9f9f9;
    --text-color: #1a1a1a;
    --header-color: #e2e2e2;
    --green-text: #5b0000;
    --green-background: #ff1515;
    --green-color: #5b0000;
}

body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    position: relative;
    min-height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    align-items: center;
    background-color: var(--header-color);
    top: 0;
    box-shadow: 0 0 5px #666666;
    padding: 10px 25px;
    z-index: 1000;
}

.header-content {
    display: flex;
    position: absolute;
    right: 11vmax;
    align-items: center;
}

.header-content i {
    font-size: 1.3rem;
}

.header .text-title {
    font-size: 1.6rem;
    font-family: "Zen Dots";
    text-shadow: 0 0 2px white;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    height: 85vh;
    width: 100%;
    padding: 80px 20px;
    overflow: auto;
}

.mychat {
    display: flex;
    margin-bottom: 20px;
}

.mychat .poto-saya {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    overflow: hidden;
}

.mychat .poto-saya img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.wrapper-mychat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-left: 15px;
}

.name-chat {
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: "DM Sans";
}

.text-chat {
    font-size: 0.8rem;
    font-family: "Roboto";
    text-align: justify;
}

.senachat {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.senachat .foto-sena {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
}

.wrapper-senachat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-left: 15px;
}

.chat {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: var(--header-color);
    bottom: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    -webkit-column-gap: 20px;
}

.chat input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    padding: 7px;
    color: var(--text-color);
    font-family: "DM Sans";
    font-weight: 600;
    position: relative;
}

.chat input:focus {
    outline: none;
}

.chat button {
    position: absolute;
    background-color: transparent;
    color: white;
    right: 12px;
    width: 10%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 800;
    font-family: "DM Sans";
    font-size: 1.6vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.info-box {
    position: absolute;
    z-index: 999;
    top: 9%;
    width: 100%;
    height: 40px;
    background-color: var(--green-background);
    color: var(--green-color);
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    font-size: 3.2vmax;
    animation: animasi 2s ease infinite;
}

@keyframes animasi {
    to {
        transform: rotate(360deg);
    }
}

.profile {
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-profile {
    position: absolute;
    padding: 20px;
    margin-top: 60px;
    top: 0;
    right: 0;
    width: 240px;
    height: 150px;
    background-color: var(--text-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.dropdown-profile a {
    text-decoration: none;
    font-family: "DM Sans";
    font-size: 0.8rem;
    color: var(--background-color);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--background-color);
}

.none {
    display: none;
}

.profile-toggle {
    display: none;
}

@keyframes dropdown {
    from {
        height: 0%;
        opacity: 0;
    }
    to {
        height: 150px;
        opacity: 1;
    }
}
.yt-dl-thumbnail {
    width: 260px;
    height: 150px;
    border-radius: 15px;
    margin-top: 20px;
    border: 2px solid red;
}

.yt-dl-title {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: bolder;
    font-family: "Monospace";
}

.yt-dl-duration {
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: "Arial";
    padding-right: 30px;
}
.yt-dl-btn-cs {
    margin-top: 15px;
    width: 220px;
    height: 30px;
    font-weight: 800;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    column-gap: 20px;
    -webkit-column-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.succes-btn {
    background-color: #18ff35;
    color: black;
}

.wrapper-yt-dl {
    display: flex;
}

/** Profile **/
.profile-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: #343434;
    border-radius: 15px;
    box-shadow: 0 10px 20px #202020;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    flex-direction: column;
    z-index: 1000;
}

.profile-card .profile-images {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.profile-card .profile-title {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 1.6rem;
    text-align: center;
}

.profile-card .profile-subtitle {
    font-family: "Onest";
    font-size: 0.8rem;
    opacity: 0.7;
    margin-bottom: 8px;
}

.profile-card .profile-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Onest";
}

.profile-card .profile-form .profile-label {
    font-size: 0.9rem;
}

.profile-card .profile-form .profile-username {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    padding: 14px;
    border-bottom: 2px solid white;
    caret-color: white;
}

.profile-card .profile-form .profile-bio {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    padding: 14px;
    border-bottom: 2px solid white;
    caret-color: white;
}

.profile-card .profile-form .profile-username:focus {
    outline: none;
}

.profile-card .profile-form .profile-bio:focus {
    outline: none;
}

.profile-card .profile-form .profile-btn {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 7px;
    border: none;
    font-family: "Zen Dots";
    margin-top: 10px;
}
